{% extends "base.html" %}

{% block page_title %}{{ profile_info['display_name'] }}{% endblock %}
{% block body_id %}profile{% endblock %}
{% block body_classes %}
    box-content {% if not shown_is_vouched %}pending{% endif %}
{% endblock %}

{% set nav_profile = 'active' %}
{% block nav %}
  {{ super() }}
{% endblock %}
{% block messages %}{% endblock %}


{% block main_content %}
  <h1>
    {% if is_me %}
      {{ _('Your Profile') }}
    {% elif shown_is_vouched %}
      {{ _('Mozillian Profile') }}
    {% else %}
      {{ _('Pending Profile') }}
    {% endif %}
  </h1>

  <div class="clear"></div>

  <div class="row">
    {% if not shown_is_vouched %}
      <div class="alert alert alert-info offset1 span8" id="pending-approval">
        {% if is_me %}
          {% trans profile_url=absolutify(url('profile', user.username)) %}
            Your profile is waiting for approval. Send this link to someone who
            is familiar with your contributions and ask them to vouch for you:
            <br>
            <em class="underline" title="Your profile URL">
              {{ profile_url }}
            </em>
          {% endtrans %}
        {% else %}
          {% trans %}
            <p class="pull-left">This profile is waiting for approval.</p>
          {% endtrans %}

          {% if vouch_form %}
            <form action="{{ url('vouch') }}" method="POST"
                  id="vouch-form">
              {{ csrf() }}

              {{ vouch_form }}

              {% trans name=profile_info['display_name'] %}
                <div>
                  <button type="submit" class="btn btn-info pull-right">
                    Vouch for {{ name }}
                  </button>
                </div>
              {% endtrans %}
            </form>
          {% endif %}
        {% endif %}
      </div>
    {% endif %}
    {% if messages %}
      {% for message in messages %}
        {% with %}
          {% set label = message.tags in ['error', 'success', 'info'] %}
          <div class="alert{% if label %} alert-{{ message.tags }}{% endif %} offset1 span8">{{ message }}</div>
        {% endwith %}
      {% endfor %}
    {% endif %}
    <div class="span6 offset1 well" id="profile-info">
      <h2 class="fn p-name">
        {{ profile_info['display_name'] }}
      </h2>

      <dl>
        {% if profile_info['email'] %}
          <dt>{{ _('Email') }}</dt>
          <dd><a href="mailto:{{ profile_info['email'] }}">
            {{ profile_info['email'] }}
          </a></dd>
        {% endif %}

        {% if not profile_info['username'].startswith('u/') %}
          <dt>{{ _('Username') }}</dt>
          <dd>{{ profile_info['username'] }}</dd>
        {% endif %}

        {% if profile_info['ircname'] %}
          <dt>{{ _('IRC Nickname') }}</dt>
          <dd><a href="irc://irc.mozilla.org/">
            {{ profile_info['ircname'] }}
          </a></dd>
        {% endif %}

        {% if profile_info['website'] %}
          <dt>{{ _('Website') }}</dt>
          <dd><a rel="me" href="{{ profile_info['website'] }}">
            {{ profile_info['website'] }}</a>
          </dd>
        {% endif %}

        {% if profile_info['vouched_by'] %}
          <dt>{{ _('Vouched by') }}</dt>
          <dd>
            <a href="{{ url('profile',
                            profile_info['vouched_by'].user.username) }}"
               class="vouched">
              {{ profile_info['vouched_by'].display_name }}
            </a>
          </dd>
        {% endif %}
      </dl>

      {% if profile_info['bio'] %}
        <h3>{{ _('Bio:') }}{# L10n: Biography #}</h3>
        <div id="bio" class="note p-note">
          {{ profile_info['bio']|paragraphize }}
        </div>
      {% endif %}

      {% if profile_info['groups'] and profile_info['groups'].count()%}
        <h3>{{ _('Groups') }}</h3>

        <ul id="groups" class="tagit ui-widget ui-widget-content ui-corner-all">
          {% for group in profile_info['groups'].all() %}
            <li class="tagit-choice ui-widget-content ui-state-default
                       ui-corner-all p-category category">
              {% if user.is_authenticated() and user.get_profile().is_vouched %}
                <a href="{{ url('group', group.id, group.url) }}">
                  {{ group.name }}
                </a>
              {% else %}
                {{ group.name }}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if profile_info['skills'] and profile_info['skills'].count()%}
        <h3>{{ _('Skills') }}</h3>

        <ul id="skills" class="tagit ui-widget ui-widget-content ui-corner-all">
          {% for group in profile_info['skills'].all() %}
            <li class="tagit-choice ui-widget-content ui-state-default
                       ui-corner-all p-category category">
              {{ group.name }}
            </li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if is_me %}
        <a href="{{ url('profile.edit') }}"
           class="btn btn-primary pull-right" id="edit-profile">
          {{ _('Edit My Profile') }}
        </a>
      {% endif %}
    </div>

    <div class="span2">
      <div class="thumbnail">
        <img id="profile-photo" src="{{ profile_info['photo_url'] }}" width="600" alt="{{ _('Profile photo') }}">
      </div>
    </div>
  </div>
{% endblock %}
